html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: #1F2128;
    overflow-x: hidden;
}

.container{
    height: 100%;
    width: 100%;
}

.header {
    padding: 0 30px;
    height: 10%;
    background-color: #2D313A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.button:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
    
.img-container {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 90%;
    max-height: 100%;
}

.footer {
    padding: 0 15px;
    height: 15%;
    background-color: #2D313A;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}