<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="./style.css">

    <meta content="{{ filename }}" property="og:title"/>
    <meta content="{{ url }}" property="og:url"/>
    <meta content="{{ img_url }}" property="og:image"/>
    <meta content="image/jpeg" property="og:image:type"/>
    <meta content=" " property="og:description"/>

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ img_url }}" />

    <meta content="#fd4c4c" data-react-helmet="true" name="theme-color"/>
</head>

<body>
    <header>
        <div class="header">
            <div class="title-div">
                <div class="title">Title</div>
            </div>
            <div class="button-div">
                <button class="button">View original</button>
            </div>
        </div> 
    </header>


    <div class="img">
        <img src="https://storage.googleapis.com/kristn-cdn.appspot.com/1296q" alt="{{ filename }}" class="center">
    </div>

    <footer>
        <div class="img-info">
            <div>Name:</div>
            <div>Size:</div>
            <div>Type:</div>
            <div>Uploaded at:</div>
        </div>
    </footer>

    <!-- <script>window.location.href = "{{ img_url }}";</script> -->
</body>
</html>